{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}

<div id="main-box" class="container mt-4">
    <div id="inner-box">
        <h1 class="geist-mono-500 mb-4" style="justify-self: center;">Change Password</h1>
        <form id="f" class="d-flex flex-column align-items-center" action="/change_password" method="post">
            <div class="mb-3">
                <input {% if not old %} autofocus {% endif %} class="form-control form-control-lg" name="old" placeholder="Old Password" type="password" value="{{ old }}">
            </div>
            <div class="mb-3">
                <input {% if not new %} autofocus {% endif %} class="form-control form-control-lg" name="new" placeholder="New Password" type="password" value="{{ new }}">
            </div>
            <div class="mb-4">
                <input {% if old and not confirmation %} autofocus {% endif %} class="form-control form-control-lg" name="confirmation" placeholder="New Password Again"
                    type="password" value="{{ confirmation }}">
            </div>
            <div>
                <input class="btn btn-primary btn-lg" type="submit" value="Change Password">
            </div>
        </form>
    </div>
</div>

{% endblock %}