{% extends "layout.html" %}

{% block title %}
Friend Requests
{% endblock %}

{% block main %}
<div class="d-flex mx-auto my-5" style="height: auto; width: 50vw">
    <div style="height:40vh ;width: 50vw; overflow-y: scroll;">
        {% for row in rows %}
        <div class="card mx-5 my-1 px-3 py-3">
            <div class="row">
                <div class="col-8">
                    <h4>{{ row.username }}</h4>
                </div>
                <div class="col">
                    <form action="/friends/friendrequests/reject" method="post">
                        <input type="hidden" name="req_id" value="{{ row.req_id }}">
                        <input type="submit" class="btn btn-danger" value="Reject">
                    </form>
                </div>
                <div class="col">
                    <form action="/friends/friendrequests/accept" method="post">
                        <input type="hidden" name="req_id" value="{{ row.req_id }}">
                        <input type="hidden" name="user_id" value="{{ row.user_id }}">
                        <input type="submit" class="btn btn-success" value="Accept">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}