{% extends "layout.html" %}

{% block socketio_header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block main %}

<div id="outer-box" class="">
    <div id="outer-row" class="row">
        <div id="left-col-box-outer" class="col-4 py-2 px-2">
            {% if not rows %}
            <div id="no-friends-box" class="d-flex my-auto">
                <a href="friends/sendfriendrequests"
                    class="geist-mono-500 link-dark link-offset-3-hover link-underline-opacity-0 link-underline-opacity-75-hover">New
                    to Chatify? Add friends here!</a>
            </div>
            {% endif %}

            {% for row in rows %}
            <button id="friend-button" class="btn p-0" onclick="joinRoom('{{ row.friend_id }}', '{{ row.username }}')">
                <div id="chat-card-{{ row.friend_id }}" class="px-3 py-3" onmouseover="mouseOverChatCard(this)" onmouseout="mouseOutChatCard(this, '{{ row.friend_id }}')">
                    <div class="row">
                        <div class="col-2">
                            <a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark"
                                href="/profile/{{ row.username }}">
                                <img src="{{ url_for_pfp(row.pfp_filename) }}" alt="pfp" height="50px" width="50px"
                                    style="border-radius: 25px;" style="border-radius: 15px;">
                            </a>
                        </div>
                        <div class="col">
                            <h4>{{ row.username }}</h4>
                        </div>
                    </div>
                </div>
            </button>
            {% endfor %}
        </div>
        <div id="right-col-box-outer" class="col p-0">
            <div id="message-box-header" class="geist-mono-500">
                <br>
            </div>
            <div id="message-box-outer" class="px-2 py-1">
                <div class="profanity-warning-box" id="profanity-warning-box">
                    <p id="profanity-message">Your message contains profanity and the user has disabled it.</p>
                    <button class="btn btn-dark" id="profanity-okay-btn" onclick="profanityOkay()">Okay</button>
                </div>
                <div id="message-box">
                    <div id="default-box">
                        <span id="default-message-box-display" class="geist-mono-400">
                            SELECT A FRIEND TO START CHATTING
                        </span>
                    </div>
                </div>
            </div>
            <div id="message-input-box" class="input-group">
                <input oninput="updateSendButton()" disabled autocomplete="off" class="form-control" type="text"
                    id="message" placeholder="Send message">
                <button class="input-group-text btn btn-dark" id="send-button" disabled
                    onclick="sendMessage()">SEND</button>
            </div>
        </div>
    </div>
</div>

<script src="../static/scripts/messaging.js"></script>
{% endblock %}