{% extends "layout.html" %}

{% block socketio_header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block main %}

<div id="outer-box" class="container mt-4">
    <div class="row">
        <div id="left-col-box-outer" class="col-4">
            <div id="left-col-box-inner" class="my-3">
                {% for row in rows %}
                <button id="friend-button" class="btn my-1 p-0"
                    onclick="joinRoom('{{ row.friendship_id }}', '{{ row.username }}')">
                    <div class="card mx-1 my-0 px-3 py-3">
                        <div class="row">
                            <div class="col-2">
                                <img src="{{ url_for_pfp(row.pfp_filename) }}" alt="pfp" height="40px" width="40px"
                                    style="border-radius: 15px;">
                            </div>
                            <div class="col">
                                <h4><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark"
                                        href="/profile/{{ row.username }}">{{ row.username }}</a></h4>
                            </div>
                        </div>
                    </div>
                </button>
                {% endfor %}
            </div>
        </div>
        <div id="right-col-box-outer" class="col">
            <div id="message-box-header">
                <span id="message-box-header-name"></span><br>
                <span id="online-status" style="display: none;">TODO</span>
            </div>
            <div id="message-box-outer">
                <div id="message-box"></div>
            </div>
            <div class="input-group" id="message-input">
                <input oninput="updateSendButton()" disabled class="form-control" type="text" id="message" placeholder="Send message">
                <button class="input-group-text btn btn-dark" id="send-button" disabled onclick="sendMessage()">SEND</button>
            </div>
        </div>
    </div>
</div>

<script src="../static/scripts/socketio.js"></script>
{% endblock %}