<!DOCTYPE html>

<html lang="en">

<head>
	<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="intial-scale=1, width=device-width">

	<!-- bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>

	<!-- google fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="../static/styles/style.css">
	<link rel="stylesheet" href="../static/styles/index_style.css">

	<!-- socketio -->
	{% block socketio_header %}{% endblock %}

	<!-- title -->
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<!-- nav -->
	<nav class="navbar navbar-expand-lg p-3 bg-dark-subtle text-dark-emphasis">
		<div class="container-fluid">

			<!-- left part -->
			<a class="navbar-brand" href="/">
				<img src="../static/icons/logo.png" alt="Chatter Logo" height="45">
			</a>

			<!-- hamburger for collapsing -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<!-- left nav part -->
				<ul class="navbar-nav mb-2 mb-lg-0">
					{% if session.get("user_id") %}
					<li class="nav-item"><a class="nav-link {% if request.endpoint == 'index' %} active {% endif %}"
							aria-current="page" href="/">Home</a></li>
					</li>
					{% endif %}
				</ul>

				<!-- right nav part -->
				<ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
					{% if session.get("user_id") %}
					<!-- friends dropdown -->
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle {% if request.endpoint in ['myfriends', 'friendrequests', 'sendfriendrequests'] %}active{% endif %}"
							href="#" role="button" data-bs-toggle="dropdown">Friends</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/friends/myfriends">My Friends</a></li>
							<li><a class="dropdown-item" href="/friends/friendrequests">Friend Requests</a></li>
							<li><a class="dropdown-item" href="/friends/sendfriendrequests">Send Friend Request</a></li>
						</ul>
					</li>
					<li class="nav-item"><a class="nav-link {% if request.endpoint == 'profile' %}active{% endif %}"
							href="/profile/{{session.get('username')}}">Profile</a></li>
					<li class="nav-item ps-3 dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
							<img src="../static/icons/settings.png" alt="settings icon" height="25px">
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li><a class="dropdown-item" href="/change_password">Change Password</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="/logout">Logout</a></li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item"><a class="nav-link {% if request.endpoint == 'register' %} active {% endif %}"
							href="/register">Register</a></li>
					<li class="nav-item"><a class="nav-link {% if request.endpoint == 'login' %} active {% endif %}"
							href="/login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% if get_flashed_messages() %}
	<header>
		<div class="alert alert-primary text-center">
			{{ get_flashed_messages() | join(" ") }}
		</div>
	</header>
	{% endif %}

	<main>
		{% block main %}{% endblock %}
	</main>

	{% if not index %}
	<div class="container">
		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col md-4 d-flex align-items-center">
				<a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
					<img src="../static/icons/logo.png" alt="Chatter Logo" height="23">
				</a>
				<span class="text-muted">© 2024 Amit Upadhyay</span>
				<ul class="nav col-md-10 justify-content-end list-unstyled d-flex">
					<li class="ms-3 pe-3 border-end">
						<a target="_blank" href="https://github.com/ppl-call-me-tima/chatify" class="text-muted">
							<img src="../static/icons/github.png" alt="github icon" height="30px">
						</a>
					</li>
					<li class="ms-3"><a href="#" class=" text-muted text-decoration-none">Report a Bug</a></li>
				</ul>
			</div>
		</footer>
	</div>
	{% endif %}
</body>

</html>