{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<div class="card align-items-center mx-auto my-5" style="height: 60vh; width: 30vw">
    <div class="my-auto">
        <h1 class="display-1 mb-5">LOGIN</h1>
        <form class="d-flex flex-column align-items-center" action="/login" method="post">
            <div class="mb-3">
                <input {% if not username %} autofocus {% endif %} class="form-control" name="username" placeholder="Username" type="text" value="{{ username }}">
            </div>
            <div class="mb-3">
                <input {% if username %} autofocus {% endif %} class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
            <br>
            <div>
                <a href="register"
                    class="geist-mono-400 link-dark link-offset-3-hover link-underline-opacity-0 link-underline-opacity-75-hover"
                    id="sign-up-link-on-login">First time? Register here</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}