{% extends "layout.html" %}

{% block title %}
My Friends
{% endblock %}

{% block main %}
<div id="main-box" class="container mt-3">
    <h1 class="geist-mono-500" style="width: fit-content; justify-self: center;">Friends [{{ rows|length }}]</h1>
    <div class="d-flex mx-auto" style="height: auto; width: 50vw">
        <div style="height: 63vh; width: 50vw; overflow-y: scroll;">
            {% if rows|length == 0 %}
            <div id="empty-list" class="d-flex geist-mono-500"><a href="sendfriendrequests"
                class="link-dark link-offset-3-hover link-underline-opacity-0 link-underline-opacity-75-hover">New
                to Chatify? Add friends here!</a></div>
            {% endif %}
            {% for row in rows %}
            <div class="card mx-5 my-1 px-3 py-3">
                <div class="row">
                    <div class="col-1">
                        <img src="{{ url_for_pfp(row.pfp_filename) }}" alt="pfp" height="40px" width="40px"
                            style="border-radius: 15px;">
                    </div>
                    <div class="col-9">
                        <h4><a class="link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark"
                                href="/profile/{{ row.username }}">{{ row.username }}</a></h4>
                    </div>
                    <div class="col">
                        <form action="/friends/myfriends/remove" method="post">
                            <input type="hidden" name="friendship_id" value="{{ row.friendship_id }}">
                            <button class="btn btn-danger" type="submit">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}