{% extends "layout.html" %}

{% block title %}
Profile
{% endblock %}

{% block main %}
<div id="main-box" class="container mt-4">
    <div class="row container mx-auto">
        <div class="col-auto ms-2">
            <div id="profile-card" class="card p-2">
                <img src="{{ url_for_pfp(row.pfp_filename) }}" alt="profile photo" style="height: 48vh; border-radius: 4px; aspect-ratio: 1/1;">
                {% if self_profile %}
                <div class="card-body">
                    <form action="/upload_pfp" enctype="multipart/form-data" method="post">
                        <input class="form-control" name="upload_pfp" type="file">
                        <input class="form-control" type="submit" value="Change Profile Photo">
                    </form>
                    <form action="/remove_pfp">
                        <input class="form-control" type="submit" value="Remove">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col geist-mono-500">
            <div class="row mb-3">
                <div>
                    <h6>@{{ row.username }}</h6>

                    <span id="name" class="h1">{% if row.name != None and row.name != "None" and row.name|length != 0 %}{{ row.name }}{% elif self_profile %}<em>Add your name</em>{% else %}<em>[no name added]</em>{% endif %}</span>&emsp;

                    {% if self_profile %}
                    <button class="btn p-0" id="name-edit-button" onclick="inlineEdit('name')">
                        <img src="../static/icons/edit.png" alt="edit icon" height="25px">
                    </button>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div>
                    <span id="bio" class="geist-mono-500 h6 me-3">{% if row.bio != None and row.bio != "None" and row.bio|length != 0 %}{{row.bio }}{% elif self_profile %}<em>Tell people about yourself...</em>{% endif %}</span>

                    {% if self_profile %}
                    <button class="btn p-0" id="bio-edit-button" onclick="inlineEdit('bio')">
                        <img src="../static/icons/edit.png" alt="edit icon" height="15px">
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4" id="dummy"></div>
    </div>
</div>

<script src="../static/scripts/script.js"></script>
{% endblock %}