{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="card mx-auto my-5 align-items-center" style="height: 60vh; width: 30vw">
    <div class="my-auto">
        <h1 class="display-1 mb-5">REGISTER</h1>
        <form class="d-flex flex-column align-items-center" action="/register" method="post">
            <div class="mb-3">
                <input autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="mb-3">
                <input class="form-control" name="confirmation" placeholder="Re-enter Password" type="password">
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
{% endblock %}