#outer-box {
    height: 88vh;
}

#outer-row {
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

#left-col-box-outer {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-right: 1px solid grey;
}

#no-friends-box{
    font-size: large;
    padding-top: 50%;
    padding-left: 10%;
}

#friend-button {
    width: 100%;
}

#chat-card {
    height: 11vh;
    border-bottom: 1px solid lightgrey;
}

#message-box-header {
    padding-left: 1%;
    font-size: 1.5rem;
}

#message-box-outer {
    height: 74vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#message-box {
    height: 75%;
}

#message-input-box {
    padding: 1.28% 1.5%;
    height: auto;
    width: auto;
    border-top: 1px solid grey;
}

#send-button {
    height: 5.8vh;
    width: 10%;
    margin-inline-start: 0.4vw;
}