#outer-box {
    height: 88vh;
}

#outer-row {
    margin-left: 0px;
    height: 100%;
    width: 100%;
}

#left-col-box-outer {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    border-right: 1px solid grey;
}

#no-friends-box {
    font-size: large;
    padding-top: 50%;
    padding-left: 10%;
}

#friend-button {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
}

#message-box-header {
    padding-left: 1%;
    font-size: 1.5rem;
    height: 9%;
}

#message-box-outer {
    height: 70.25vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

#message-box {
    height: 75%;
}

.message {
    padding: 1% 2%;
    width: fit-content;
    max-width: 60%;
    border: 1px solid lightgrey;
    border-radius: 25px;
    background-color: azure;
}

.sent-message {
    justify-self: end;
}

#message-input-box {
    padding: 1.28% 1.5%;
    height: auto;
    width: auto;
    border-top: 1px solid grey;
}

#send-button {
    height: 5.8vh;
    width: 10%;
    margin-inline-start: 0.4vw;
}

#profanity-warning-box {
    padding: 1% 2%;
    justify-items: center;
    position: absolute;
    top: 50%;
    left: 57%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
}

.profanity-warning-box {
    visibility: hidden;
}

.loader {
    position: absolute;
    top: 50%;
    left: 60%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.show {
    visibility: visible;
}