.geist-mono-100 {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.geist-mono-400 {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.geist-mono-500 {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#sign-up-link-on-login {
  font-size: 12px;
  color: black;
  text-decoration-color: black;
}

#default-box {
  width: 35vw;
  margin: auto;
  margin-bottom: 10vh;
  text-align: center;
}

#default-message-box-display {
  font-size: 4rem;
}

#main-box{
  height: 70vh;
}

#inner-box{
  position: relative;
  top: 25%;
}